*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
} 


/***** section positioning *****/



.SectionContainer1{
    display: flex;
    min-width: 50%hw;
    justify-content: space-around;
    align-items: center;
}

.SectionContainer2{
    display: flex;
    min-width: 50%hv;
    min-height: 50%hv;
    justify-content: space-around;
    align-items: center;
}






/***** text style and colors*****/



h1{
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    font-family:'Oswald', sans-serif;
    font-weight: 900;
    background-color: #ff6633;
    color: #fff;
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    animation-name: moveInLeft;
    animation: 1s ease-out;
  }
    

h2 {
    font-family: 'Oswald', sans-serif;
    color: #33CCFF;
    text-align: center;
}
      

.html p{
    font-family: 'Roboto Serif', serif;

}

.Ongoing{
    position: absolute;
    top: 200px;
    left: 250px;
    background-color: #FF6633;
    color: #fff;
    z-index: 3;
    font-family: 'Oswald';
    
}


/***** Image style and colors*****/


.Logo{
    position: absolute;
    height: 50px;
    width: 50px;
  }


.MapsImage {
    object-fit: cover;
    z-index: 1;
    position: relative;

}
