/*******************************************************************/
/*      Typography       */
/*******************************************************************/

@font-face {
  font-family: "Impact";
  src: url(fonts/Impact-Font/impact.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Impacted";
  src: url(fonts/Impact-Font/Impacted.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unicode Impact";
  src: url(fonts/Impact-Font/unicode.impact.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Filson Pro";
  src: url(fonts/filson-pro-fonts/FilsonProRegular.otf);
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

font-family: "Roboto Serif", serif;
font-family: "Oswald", sans-serif;

/*******************************************************************/
/*      General Style       */
/*******************************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
/* @media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
} */

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  box-sizing: border-box;
}
/* @media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
} */

/*******************************************************************/
/*      Header      */
/*******************************************************************/

.o-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  background-image: url(https://fixaway.co/svg/Stripes_with_bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.f-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 11rem;
  /* position: fixed; */
  height: auto;
  z-index: 45;
}

.header__accessibility__lang-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  object-position: center;
  margin-right: 3rem;
  margin-top: 6rem;
}

.header__accessibility__lang-switcher-item {
  display: block;
  box-sizing: border-box;
  float: none;
  text-decoration: none;
  line-height: 2.4rem;
  position: relative;
  z-index: 11;
}

a {
  text-decoration: none;
}

/* .header__btn__login {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  line-height: 0.875rem;
  font-size: large;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
} */

.header__navmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  margin-top: 0.5rem;
  border: none;
}

.home-btn-link,
.about-btn-link,
.contacts-btn-link,
.projects-btn-link,
.login-btn-link {
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: large;
  font-weight: bold;
  overflow: hidden;
}

.language-link-dutch,
.language-link-english,
.language-link-german,
.language-link-french {
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

/* .navigation {
  flex-grow: 1;
  list-style: none;
} */

.header__list--item-navigation {
  padding: 1rem 5rem;
  margin-top: 4rem;
}

.header__list--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 10rem;
  margin-right: 1.5rem; */
  list-style-type: none;
}

.navigationContainer {
  box-sizing: border-box;
}

ul a {
  /* padding: 0.5rem 0.5rem; */
}

ul:hover a:hover {
  display: block;
  background-color: #fff;
  color: #ff6633;
  /* padding: 0.5rem 0.5rem; */
}

/*******************************************************************/
/*      Section 1       */
/*******************************************************************/

.reference__primary-section-title {
  margin-bottom: 4rem;
}

.reference__inner--row {
  text-align: center;
}

.reference__primary-section-title-main {
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  background-color: #ff6633;
  color: #fff;
  margin-left: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
}

/* @media only screen and (max-width: 37.5em) {
  .reference__primary-section-title-main {
    font-size: 3rem;
  }
} */

.reference__primary-section-title-sub {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #33ccff;
  letter-spacing: 0.1rem;
  animation-name: moveInRight;
  animation: 1s ease-out;
}

.section_reference__primary-section-title {
  margin-top: 1rem;
  object-fit: contain;
}

.formsContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
}

.logintext {
  padding: 2rem;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  color: #ff6633;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.username1 {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  border-color: #33ccff;
}

.password {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  border-color: #33ccff;
}

.checkbox {
  padding: 1rem;
  margin-bottom: 2rem;
  accent-color: #33ccff;
}

.submit {
  padding: 1rem;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  width: 8rem;
  height: 4rem;
  border: none;
  border-radius: 0 !important;
  background-color: #33ccff;
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  font-weight: 700;
}

.register {
  padding: 2rem;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  color: #ff6633;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.username {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  border-color: #33ccff;
}

.surname {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  border-color: #33ccff;
}

.email {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  border-color: #33ccff;
}

.registerbutton {
  padding: 1rem;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 0 !important;
  background-color: #33ccff;
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  font-weight: 700;
}

/*******************************************************************/
/*      Call to action    */
/*******************************************************************/

.fix {
  font-size: x-large;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.colorRed {
  color: #ff6633;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
  background-color: #146f8d;
  color: #fff;
}

/*******************************************************************/
/*      footer content     */
/*******************************************************************/
.fix {
  font-size: x-large;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.colorRed {
  color: #ff6633;
  text-decoration: underline;
}

.copyright-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem;
  margin-top: 4rem;
  /* margin-bottom: 0.4rem; */
  z-index: auto;
}

.footer__copyright-bar__list--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-bottom: auto;
  list-style-type: none;
  color: white;
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
}

.footer-btn-link {
  color: white;
}

.privacy-btn-link {
  font-size: large;
  padding: 0 1rem;
  /* margin-top: 3.5rem; */
  /* margin-bottom: auto; */
  color: white;
}

.terms-btn-link {
  border-left: 2px solid rgba(204, 204, 204, 0.643);
  font-size: large;
  padding: 0 1rem;
  /* margin-top: 3.5rem; */
  /* margin-bottom: auto; */
  color: white;
}

.cookies-btn-link {
  border-left: 2px solid rgba(204, 204, 204, 0.643);
  font-size: large;
  padding: 0 1rem;
  /* margin-top: 3.5rem; */
  /* margin-bottom: auto; */
  color: white;
}

.footer__li__copyright-bar__list--item {
  padding: 0 1rem;
  margin-top: 4rem;
  margin-bottom: auto;
}

.fixawayParagraph {
  font-size: large;
  color: white;
  margin-top: 5.5rem;
  margin-left: 1rem;
  /* margin-bottom: auto; */
  font-family: "Roboto Serif", serif, "Arial Narrow", Arial, sans-serif;
}

.footer__copyright-bar {
  object-position: center;
}

.footer {
  background-image: url(https://fixaway.co/svg/Stripes_with_bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* @media only screen and (max-width: 1800px) {
  .copyright-bar {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center; */
/* padding: 1rem;
    margin-top: 4rem;
    /* margin-bottom: 0.4rem; */
/* z-index: auto; } */
