* {
  margin: 0;
}

.logo {
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
}

h1 {
font-family: 'Oswald', sans-serif;
color: #33CCFF;
text-align: center;
}

h2 {
margin: 4rem 0 1rem 0;
font-family: 'Oswald', sans-serif;
color: #FF6633;
text-align: center;
}

.img1{
  width: 35px;
  height: 35px;
}
.img2{
  width: 35px;
  height: 35px;
}.img3{
  width: 35px;
  height: 35px;
}

.main{
  padding: 5rem 40rem 5rem 40rem;
}
p {
font-family: 'Roboto Serif', serif;
text-align: justify;
text-align-last: center;
}

nav {
font-family: 'Roboto Serif', serif;
text-align: center;
display: flex;
justify-content: space-around;
}

.stripe {
  width: 26px;
	height: 26px;
	transform: skew(-50deg);
	background-color: #FF6633;
  }
  
.stripes {
  display: flex;
  justify-content: space-around;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #FF6633;
  background-color: white;
  text-decoration: underline;
}

u {
  font-family: 'Oswald', sans-serif;
  color: #FF6633;
  text-decoration: underline;
  font-weight: bold;
}

.fixaway {
  color: white;
  background-color: #FF6633;
}
.language {
  font-family: 'Oswald', sans-serif;
  color: white;
}
.EN {
  text-decoration: none;
  color: #33CCFF;
}

.aboutus {
  display: flex;
  align-items: baseline;
}
