*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

} 


/***** section positioning *****/

.SectionContainer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SectionContainer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}






/***** text style and colors*****/


.FixAwayH1 {
    text-align: center;
    padding-bottom: 3rem;
    
    }

.Ongoing{
    position: absolute;
    top: 300px;
    left: 75px;
    background-color: #FF6633;
    color: #fff;
    z-index: 3;
    
}

.Ongoing1 {
    position: absolute;
    top: 300px;
    left: 75px;
    background-color: #FF6633;
    color: #fff;
    z-index: 3;
    
}


/***** Image style and colors*****/

.MapsImage {
    object-fit: cover;
    display: inline-block; 
    z-index: 1;
    position: relative;

}


